#background{
    background: linear-gradient(130deg, rgba(2,0,36,1) 24%,rgb(11, 10, 62) 40%, 80%, rgba(107, 28, 172) 100%);
}

#card{
    border-radius: 1rem;
}

#login_form{
    border-radius: 1rem 0 0 1rem;
}

#favicon1{
    color: #ff6219;
}

#text_One{
    letter-spacing: 1px;
}

.text_two{
    color: #393f81;
}