/* .App {
  text-align: center;
}

#background{
  background: rgb(2,0,36);
  background: linear-gradient(130deg, rgba(2,0,36,1) 24%,rgb(11, 10, 62) 40%, rgba(0,212,255,1) 80%, rgba(107, 28, 172) 100%);
  width: 100vw;
  height: 100vh;
} */

/* #background{
  background: rgb(2,0,36);
  background: linear-gradient(130deg, rgba(2,0,36,1) 35%,rgb(11, 10, 62) 25%, rgba(0,212,255,1) 80%, rgba(107, 28, 172) 100%);
  width: 100vw;
  height: 100vh;
} */


/* #background{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,77,134,1) 35%, rgba(0,212,255,1) 100%);
  width: 100vw;
  height: 100vh;
} */

/* #animationContainer{
  width: 20vw;
  height: 20vh;
  position: absolute;
  margin-left: 50vw;
  margin-top: 50vh;

} */

#CanvasContainer{
  width: 100%;
  height: 100%;
}
